.signin {
    margin: 2rem auto;
    max-width: 16rem;
    font-size: 1.25rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
}

.signin__wrapper {
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, .8);
}

.signin__fieldset {
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
}

.signin__legend {
    padding: 1rem .5rem;
    font-size: 2rem;
    font-weight: bold;
}

.signin__box {
    margin-top: 1rem;
}

.signin__label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.signin__input {
    width: 90%;
    padding: .5rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .5rem;
    transition: all .15s ease-in;
    cursor: pointer;
}

.signin__input:hover {
    background-color: #C795CB;
}

.signin__input-bottom {
    width: 50%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.signin__input-bottom:hover, .signin__input-bottom:focus {
    transform: scale(1.05);
}

.signin__input-bottom:active {
    transform: scale(.9);
}

.signin__link {
    display: block;
    padding: 1rem;
    color: #000000;
    text-decoration: none;
    opacity: 1;
    transition: all .15s ease-in;
}

.signin__link:hover {
    opacity: .5;
}

.signin__link:active {
    opacity: .8;
}

.signin__link:focus {
    outline: 1px dotted currentColor;
    opacity: .5;
}