.face-container {
    position: relative;
    margin-top: 1rem;
}

.face {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.face-bound {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}