body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  background: rgb(63,94,251);
  background: linear-gradient(45deg, rgb(207, 154, 203) 49%, rgb(103, 96, 208));
  color:#483D8B;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

